<form (ngSubmit)="addCategory()">
  <div class="form-group">
    <label for="formGroupExampleInput">Category Title</label>
    <input type="text" [(ngModel)]="title" class="form-control" id="formGroupExampleInput" placeholder="Enter category title here">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div [hidden]="!saved" class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>