<footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/thekoushik">@thekoushik</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>