<div class="container">
  <form class="form-signin" (ngSubmit)="signup()" #userform="ngForm" method="POST">
    <h2 class="form-signin-heading">Please sign up</h2>
    <div class="form-group" [class.has-danger]="fname.invalid && fname.dirty">
      <label for="inputFName" class="sr-only_ form-control-label">First Name</label>
      <input type="text" [(ngModel)]="newuser.fname" name="fname" #fname="ngModel" id="inputFName" class="form-control" placeholder="First Name" required autofocus>
      <div [hidden]="fname.valid || fname.pristine" class="form-control-feedback">First Name is required.</div>
    </div>
    <div class="form-group">
      <label for="inputLName" class="sr-only_ form-control-label">Last Name</label>
      <input type="text" [(ngModel)]="newuser.lname" name="lname" #lname="ngModel" id="inputLName" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group" [class.has-danger]="email.invalid && email.dirty">  
      <label for="inputEmail" class="sr-only_ form-control-label">Email address</label>
      <input type="email" [(ngModel)]="newuser.email" name="email" #email="ngModel" id="inputEmail" class="form-control form-control-danger" placeholder="Email address" required>
      <div class="form-control-feedback" [hidden]="email.valid || email.pristine" >Email is required.</div>
    </div>
    <div class="form-group" [class.has-danger]="password.invalid && password.dirty" >  
      <label for="inputPassword" class="sr-only_ form-control-label">Password</label>
      <input type="password" [(ngModel)]="newuser.password" name="password" #password="ngModel" id="inputPassword" class="form-control form-control-danger" placeholder="Password" required>
      <div class="form-control-feedback" [hidden]="password.valid || password.pristine">Password is required.</div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="userform.form.invalid" type="submit">Sign Up</button>
  </form>
</div>