/* You can add global styles to this file, and also import other style files */
div.loading {
		z-index: 99999999999;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		opacity:0.7;
		background: url(/assets/balls.svg) center no-repeat #514134;
}
